<div class="flex flex-col gap-2 border border-5 p-4"
     *ngIf="(gameStateService.getActivePlayerGoals() | async)?.length; else noResources">
  <strong>Budowle:</strong>
  <div class="flex gap-2 p-4">
    <app-goal-card *ngFor="let card of (gameStateService.getActivePlayerGoals() | async)"
                   [active]="gameStateService.canAchieveGoal(card) | async"
                   [removable]="true"
                   [card]="card"
                   (remove)="removeGoal($event)"
                   (selected)="upgrade($event, card)"></app-goal-card>
  </div>
</div>

<ng-template #noResources>
  <div class="flex flex-col gap-2 border border-5 p-4 text-center">
    BRAK BUDOWLI
    <br>
    POCIAGNIJ KARTE CELU
    <br>
    MAX 3 KARTY
  </div>
</ng-template>
