<div class="h-screen w-screen flex-col flex gap-6 py-20">

  <div class="flex justify-center">
    <app-player-avatar [imgSrc]="king"></app-player-avatar>
  </div>

  <div class="text-center">
    Krol Kazimierz Wielki jest z was dumny <br>
    Dobra robota z tym murowaniem <br>
    Bedzie to stac to pewnie kolejne kilka tysiecy lat
  </div>

  <div class="mt-3 flex justify-center gap-3">
    <div *ngFor="let player of (gameStateService.getPlayers() | async)"
         class="flex flex-col justify-center items-center gap-3">
      <app-player-avatar [imgSrc]="player.imageUrl"></app-player-avatar>
      <span>{{player.name}}</span>
      <span class="text-3xl text-red-500">{{ player.points }} PKT</span>
    </div>
  </div>

  <div class="flex justify-center my-20">
    <app-button routerLink="../">Zacznij od nowa</app-button>
  </div>


  <div class="text-slate-500 text-center">
    Autorzy: <br>
    Kamil Galek, Dima Chernenko, Pawel Smolinski, Illia Mishkin, Adam Steciuk <br>

    <div class="text-xs text-slate-500 mt-6 mb-20">
      Ta gra teoretycznie powinna byc gra karciana, ale to HackYeah. <br>
      Pan JSON mowil, ze mamy sie bawic, wiec sie bawimy.
    </div>
  </div>

</div>
