<div class="border border-5 p-4 text-center">
  <div class="mb-3">
    <strong class="text-2xl">{{ gameStateService.getActivePlayerName() | async }}</strong>
  </div>
  <div>
    <app-player-points></app-player-points>
  </div>
  <div class="flex justify-center gap-2 mt-4">
    <app-button [disabled]="nextUserService.isBlocked() | async"
                (selected)="drawResources($event)">
      Pociagnij karte zasobow
    </app-button>
    <app-button (selected)="drawGoal($event)"
                [disabled]="(gameStateService.drawGoalDisabled() | async) || (nextUserService.isBlocked() | async)">
      Pociagnij karte celu
    </app-button>
    <app-button [disabled]="nextUserService.isBlocked() | async"
                (selected)="randomizeResources($event)">Tasuj zasoby</app-button>
    <app-button [disabled]="nextUserService.isBlocked() | async"
                (selected)="instantNext($event)">Handluj</app-button>
    <app-button [disabled]="nextUserService.isBlocked() | async"
                (selected)="instantNext($event)">Pomin ture</app-button>
  </div>
  <div class="mt-3">
    <app-timer></app-timer>
  </div>
</div>
