/* You can add global styles to this file, and also import other style files */

* {
  font-family: '8BIT WONDER', sans-serif;
  color: white;
}

html, body {
  background: rgb(15 23 42);
}

.border-5 {
  border-width: 5px !important;
}
