<div class="h-screen w-screen flex flex-col gap-3 items-center justify-center">

  <div class="flex justify-center">
    <app-player-avatar [imgSrc]="kingImageUrl"></app-player-avatar>
  </div>

  <div class="flex flex-col gap-2 justify-center items-center mb-3">
    <div class="text-center">
      Witaj budowniczy [ wykrzyknik ]
    </div>
    <div class="text-center">
      Nazywam sie Kazimierz, krol Polski, pozniej nazywany Wielkim. Mam dla Ciebie zadanie, trzeba
      szybko ogarnac, zeby nasza drewniana zabudowa byla solidniejsza. Sugeruje coc wymurowac.
    </div>
    <div class="text-center">
      Poniewaz zycie nie jest latwe nagrodze tylko jednego z budowniczych.
    </div>
    <div class="text-center">
      Powodzenia [ wykrzyknik ]
    </div>
  </div>
  <app-button (click)="start()">
    PODEJMIJ WYZWANIE
    <br>
    ZACZNIJ GRE
  </app-button>
</div>
